{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-theme" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custom" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="theme_custom_status" id="input-status" class="form-control">
                {% if theme_custom_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-banner">{{ entry_banner }}</label>
            <div class="col-sm-10"><a href="" id="thumb-banner" data-toggle="image" class="img-thumbnail"><img src="{{ banner_thumb }}" alt="" title="" data-placeholder="{{ banner_placeholder }}"/></a> <input type="hidden" name="theme_custom_banner" value="{{ theme_custom_banner }}" id="input-banner"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-logo">{{ entry_logo }}</label>
            <div class="col-sm-10"><a href="" id="thumb-logo" data-toggle="image" class="img-thumbnail"><img src="{{ logo_thumb }}" alt="" title="" data-placeholder="{{ logo_placeholder }}"/></a> <input type="hidden" name="theme_custom_logo" value="{{ theme_custom_logo }}" id="input-logo"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-favicon">{{ entry_favicon }}</label>
            <div class="col-sm-10"><a href="" id="thumb-favicon" data-toggle="image" class="img-thumbnail"><img src="{{ favicon_thumb }}" alt="" title="" data-placeholder="{{ favicon_placeholder }}"/></a> <input type="hidden" name="theme_custom_favicon" value="{{ theme_custom_favicon }}" id="input-favicon"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-primary_color">{{ entry_primary_color }}</label>
            <div class="col-sm-10">
              <input type="text" name="theme_custom_primary_color" value="{{ theme_custom_primary_color }}" placeholder="{{ entry_primary_color }}" id="input-primary_color" class="form-control"/>
              {% if error_primary_color %}
                <div class="text-danger">{{ error_primary_color }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-secondary_color">{{ entry_secondary_color }}</label>
            <div class="col-sm-10">
              <input type="text" name="theme_custom_secondary_color" value="{{ theme_custom_secondary_color }}" placeholder="{{ entry_secondary_color }}" id="input-secondary_color" class="form-control"/>
              {% if error_secondary_color %}
                <div class="text-danger">{{ error_secondary_color }}</div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 